{% if DISQUS_SITENAME %}
	<script type="text/javascript">
	  var disqus_shortname = '{{ DISQUS_SITENAME }}';
	  (function() {
	    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	   })();
	</script>
    {% if INLINE_DISQUSSIONS %}
    <script type="text/javascript">
      disqus_shortname = '{{ DISQUS_SITENAME }}';
      jQuery(document).ready(function($) {
        $(".entry-content p").inlineDisqussions();
      });
    </script>
    {% endif %}
{% endif %}
